.chat-container {
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 70%;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80%;
    z-index: 100;
}

.chat-message.sent {
    margin-left: auto;
}

.chat-header {
    background-color: #1f2937;
    color: #ffffff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.chat-header span:hover .h-6{
    color: #9ca3af;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 8px;
}

.chat-message {
    padding: 5px;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
}

.close-button:hover {
    color: #f87171;
}

.message-text-sent,
.message-text-received {
    border-radius: 10px;
    white-space: pre-line;
    padding: 8px;
    align-items: center;
    display: flex;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 80%;
    min-width: 50px;
}

.message-text-sent {
    background-color: #3490dc;
    color: #ffffff;
    margin-left: auto;
}

.message-text-received {
    background-color: #ffffff;
    color: #000000;
}

.message-sent:not(.user-info),
.message-received:not(.user-info) {
    padding: 0px;
    margin-bottom: 0px;
}

.user-id {
    font-weight: bold;
}

.sender {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 8px;
    border-top: 1px solid #e5e7eb;
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    margin-right: 8px;
    width: 80%;
}

.chat-input button {
    padding: 8px;
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #2563eb;
}