.group-list-modal {
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 70%;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80%;
    z-index: 100;
    overflow: hidden;
}

.group-list-item:hover {
    background-color: cadetblue;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
}

.close-button:hover {
    color: #f87171;
}

.header {
    background-color: #1f2937;
    color: #ffffff;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
