.rbc-btn-group{
    background-color: white;
}

.displayButton{
    font: bold small Germania One, "sans-serif", "fantasy";
}

.chatButton{
    font-family: Germania One, "sans-serif", "fantasy";
}

.rbc-toolbar{
    background-color: rgba(86, 46, 33, 0.35);
    color: black;
    font: bold large Germania One, "sans-serif", "fantasy";
}

.rbc-time-view{
    background-color: #666B7D;
}

.rbc-time-header-cell, .rbc-month-header{
    background-color: #9ca3af;
}

.rbc-allday-cell{
    background-color: lightgray;
}

[role=columnheader]{
    font: bold small Germania One, "sans-serif";
}

.rbc-time-gutter{
    background-color: rgba(133, 182, 228, 1);
    font-weight: bold;
}

.rbc-day-slot#rbc-time-column{
    background-color: rgba(133, 182, 228, 1);
}

.rbc-month-view{
    background-color: rgba(164, 173, 203, 0.5);
}

.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000; /* Adjust z-index as needed */
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    padding: 0.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #111;
    border-radius: 8px;
}